[submodule "boilerplate/app/js/lib/framework"]
	path = boilerplate/app/js/lib/framework
	url = git@github.com:joshfire/joshfire-framework.git
[submodule "sample-app/app/js/lib/framework"]
	path = sample-app/app/js/lib/framework
	url = git@github.com:joshfire/joshfire-framework.git
