@import "_mixins";
@import "_colors";
@import "_animations";

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;

  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: lighter;
  background: #FFF;
}

a {
  text-decoration: none;
}

#app {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background: #FFF;
}

.toolbar {

  text-align: center;

  ul {
    padding: 20px;
    margin: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    text-decoration: none;
    -webkit-transition: border-bottom-color 200ms ease-in-out;
  }

  a.active,
  a:hover {
    border-bottom-color: rgba(0, 0, 0, 1);
  }
}

.toolbar {
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: 2;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  box-sizing: border-box;
}

.content .list {

  height: 100%;
  overflow: auto;

  &.loading {

    ul {
      &:after {
        content: 'Loading ...';
        display: block;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 40px;
        line-height: 30px;
        text-align: center;
        bottom: 0;
      }
      padding-bottom: 40px;
    }
  }

  ul {
    position: relative;
    padding: 0 20px;
  }
  li {
    list-style: none;
    text-decoration: none;
    width: 100%;
    height: 40px;
  }
  a {
    background-color: #FFF;
    color: #000;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    padding: 0 40px 0 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      color: #FFF;
      background-color: #000;

      &:after {
        color: #FFF;
      }
    }

    &:after {
      display: block;
      content: '>';
      position: absolute;
      right: 0;
      top: 0;
      height: 40px;
      width: 20px;
      color: #000;
      z-index: 2;
    }
  }
}

.content .details {
  padding: 0 20px;
  overflow: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;

  h2 {
    position: relative;
    height: 40px;
    padding: 0 16px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    background: #000;
    color: #FFF;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:after {
      display: block;
      content: " ";
      position: absolute;
      left: 0;
      border-left: 20px solid #FFF;
      border-top: 30px solid transparent;
      bottom: -1px;
    }

    &:before {
      display: block;
      content: " ";
      position: absolute;
      border-right: 20px solid #FFF;
      border-bottom: 30px solid transparent;
      top: -1px;
      right: 0;
    }

  }
  p {
    line-height: 30px;
    padding: 0;
    margin: 0;
  }
  img {
    max-width: 100%;
  }
  a {
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    -webkit-transition: border-bottom-color 200ms ease-in-out;
    font-weight: bold;
    &:hover {
      border-bottom-color: rgba(0, 0, 0, 1);
    }
  }
}

/**
* A pretty nice CSS loader
**/

.loader-wrapper {
  .loader {
    position: relative;
    width: 40px;
    margin: 50px auto;
  }

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #333;
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
  }

  .dot1, .dot2 {
    left: 0;
  }

  .dot3 { left: 15px; }

  .dot4 { left: 30px; }

  .dot1 {
    animation-name: reveal;
    -webkit-animation-name: reveal;
  }

  .dot2, .dot3 {
    animation-name: slide;
    -webkit-animation-name: slide;
  }

  .dot4 {
    animation-name: reveal;
    -webkit-animation-name: reveal;
    animation-direction: reverse; /* thx @HugoGiraudel */
    -webkit-animation-direction: reverse; /* thx @HugoGiraudel */
  }
}
